<div>
<md-toolbar class = "md-indus-toolbar">
		<div class="md-toolbar-tools">
		  <!-- Back arrow image -->
			<!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
			    <!-- <md-icon src="img/icons/favorite.svg" style="color: greenyellow;"></md-icon> -->
			<!-- </md-button> -->
				
			<md-button aria-label="Go Back" style="text-transform:capitalize;" ng-click="goBackSimon()">Back</md-button>

			<h4 flex md-truncate>{{headerTitle}}</h4>
				
			<md-button class="md-icon-button" aria-label="Favorite" ng-click="openLeftMenu()">
				<i class="material-icons">view_headline</i>
			</md-button>
		</div>
</md-toolbar>
</div>