<style>
.md-button[disabled] {
    background-color: #7a78c0 !important;
}

</style>

<md-toolbar class = "md-indus-toolbar-sample">
		<div class="md-toolbar-tools">
		  <!-- Back arrow image -->
			<!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
			    <!-- <md-icon src="img/icons/favorite.svg" style="color: greenyellow;"></md-icon> -->
			<!-- </md-button> -->
				
			<md-button aria-label="Go Back" style="text-transform:capitalize;" ng-click="goBackSimon()">Back</md-button>

			<h4 flex md-truncate>Compose Message</h4>
				
			<md-button class="md-icon-button" aria-label="Favorite" ng-click="openLeftMenu()">
				<i class="material-icons">view_headline</i>
			</md-button>
		</div>
</md-toolbar>
<md-sidenav md-component-id="left" class="md-sidenav-left">
    <md-list ng-repeat="item in records">
        <md-subheader class="md-no-sticky">{{item.name}}</md-subheader>
        <md-list-item ng-repeat="x in item.SubMenu" ng-click=clickFun(x.id)>
            <img class="imgSize" src="img/{{x.icon}}">
            <p>{{x.name}}</p>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
    </md-content>
</md-sidenav>

<md-sidenav md-component-id="right" class="md-sidenav-right">
	<div ng-controller="profileController as vm" >
		{{vm.x}}
		<md-toolbar class="md-indus-right-nav-header" ng-repeat="item2 in vm.profileData">
			<div style="margin-bottom: 10px">
				<img class="png-icon" src="img/user-photo.png" style="width: 71px; height: 71px;">
			</div>
			<span class="md-indus-right-nav-title" >Hi.....{{item2.firstName}} </span>
		</md-toolbar>
		<md-list ng-repeat="item1 in vm.profileData">
			<md-list-item>
				<h4 class="text-padding"> Name </h4>
				<h4 class="text-padding">{{item1.firstName}}</h4>
			</md-list-item>
			<md-list-item>
				<h4 class="text-padding"> Indus Id </h4>
				<h4 class="text-padding">{{item1.memberID}}</h4>
			</md-list-item>
			<md-list-item>
				<h4 class="text-padding"> Joined Date </h4>
				<h4 class="text-padding">{{item1.memJoinDate}}</h4>
			</md-list-item>
			<md-list-item>
				<h4 class="text-padding"> Contact No </h4>
				<h4 class="text-padding">{{item1.memCellPhone}}</h4>
			</md-list-item>
			<md-list-item>
				<h4 class="text-padding"> Location </h4>
				<h4 class="text-padding">{{item1.memCity}}</h4>
			</md-list-item>
			<md-list-item>
				<h4 class="text-padding">Email id </h4>
				<h4 class="text-padding">{{item1.memEmail | lowercase }}</h4>
			</md-list-item>
		</md-list>
	</div>
</md-sidenav>


<!-- change font-size -->
<md-subheader class = "md-indus-subheader-sample" >New Message</md-subheader>

<div class="md-indus-circular-loading" >
	<circle-spinner ng-show="prograssing"></circle-spinner>
</div>

<div layout="column" >
<form name = "formValidation" id="formValidation"  method="post" ng-submit="processForm()">

 
  <!-- <md-content class="md-no-momentum"> -->
  <md-card class="compose-msg-container">
  <!-- md-input-container .md-errors-spacer : Reduce the height for this parameter-->
      <!-- <md-input-container > -->
      <input class="msg-input-container" ng-model="formData.recepient" name="recepient" id="recepient" 
	  ng-pattern="/^[0-9]*$/" maxlength="5" ng-maxlength="10" ng-minlength="0" type="text" 
		placeholder="Enter Recipient Indus ID." required>
	 <span class="error-ng-msg"   ng-show="formValidation.recepient.$error.pattern">Only digits excepted.</span>

    <!-- </md-input-container> -->

      <textarea class="md-indus-textarea-container" ng-model="formData.msgcontent" name="msgcontent" type="text" 
				id="msgcontent" ng-pattern="/^[A-Za-z0-9_@.,]*$/" placeholder="Enter your message." maxlength="1000" 
				required >
	  </textarea>
	  <span class="error-ng-msg" ng-show="formValidation.msgcontent.$error.pattern">Special Characters are not allowed.</span>


	<md-input-container class="md-hide">
      <input id="member" name="member" type="hidden" ng-model="formData.member" >
    </md-input-container>
	 	
	<md-input-container class="md-hide">
	 <input ng-model="formData.fdate" type="hidden"  id="fdate" name="fdate"/>
    </md-input-container>
	
</md-card>
  <!-- </md-content> -->
   <md-button type="submit" ng-disabled="formValidation.$invalid" class="compose-button-container">Send</md-button>
</form>
</div>
